*{
    margin: 0;
    padding: 0;
    
}

.image-text{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    margin-right: 2rem;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 40px;
    border-radius: 6px;
}

.image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.Logout{
    color: aliceblue !important;
    
}

.logoOut{
    color: aliceblue !important;
    margin-top: 0.9rem !important;
    margin-left: 1rem;

}

body{
    background-image: url(./gatobanco.jpg);
  
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
}



main{
   min-height: 65vh;

}

#loader{
    width: 100%;
    background: #E4DCDB url("./loaderCat.gif") no-repeat center center;
    height: 100vh;
    position: fixed;
    z-index: 100;
}


.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(252, 70, 100) !important;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 70, 100);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }




#plan{

    display: flex;
    width:55%;
    height:200px;
    background-image: url("./cat-back.jpg");
    background-position: top;
    background-size: contain;
    
    
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10rem;
    
}

.title{

    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.containDetails{

    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;

}

.end{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;

}


  





.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

   table{
      
    background: rgba( 0, 0, 0, 0.5 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
       

       color:white ;
       border-collapse: collapse;

   }
#piePagina{
    width:100%;
    display:flex;
    justify-content: center;

}
   footer{
    width: 80% !important;

   }

    #contenedorCajitas{
        color:white;
        margin-top:3 rem;
        width: 100%;
        display:flex;
        flex-direction:row important!;
        justify-content: center;

    }
   #cajitas {
    width: 25%;

    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   }

   #contenedorCajitasIf{
    padding-top: 2rem;
    justify-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 150px;

        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 11px );
        -webkit-backdrop-filter: blur( 11px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

   }

   #if{
    width:100%;
    display: flex;
    justify-content: center;


   }
   #cuenta{
   margin-top:2rem;
    display:flex ;
    justify-content:center;

   }

   #crearCuenta{
         text-align: center;
      align-self: center;
       padding-top: 2rem;
       justify-self: center;
       display:flex;
       flex-direction: column;
       justify-content: center;
       width: 50%;
       height: 200px;
            background: rgba( 255, 255, 255, 0.15 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 11px );
            -webkit-backdrop-filter: blur( 11px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
   }

   @media(max-width: 1200px){
   #crearCuenta{
    text-align: center;
   width: 90%
   }
    #plan{
        width: 90%;
    }
   }

   @media(max-width: 800px){

    #plan{
        width:91%;

    }
    .title{
        width: 30%;
    }
    .containDetails{
        width: 45%;

    }
    .end{
        margin-left: 0;
        padding-left:-3rem;

    }

   }




